{% extends 'base.html' %}

{% block content %}
<form action="{% url 'accounts:signup' %}" method="post">{% csrf_token %}
    <div class="form-inline">
        <label for="email">Email</label>
        <input type="text" class="form-control" id="email" name="email" placeholder="Email">
    </div>
    <div class="form-inline">
        <label for="password">Password</label>
        <input type="password" class="form-control" id="password1" name="password1" placeholder="Password">
    </div>
    <div class="form-inline">
        <label for="password">Password confirmation</label>
        <input type="password" class="form-control" id="password2" name="password2" placeholder="Password">
    </div>
    <button type="submit">Signup</button>
</form>
{% endblock content %}
